/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Vazirmatn', sans-serif;
}
 
.innerHTML_Postpage {
  img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}