
<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4   max-w-screen-xl ">

        <article class="w-full  max-w-4xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert lg:w-3/4">
            <header class="mb-4 lg:mb-6 not-format">

                
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <!-- <img class="mr-4 w-16 h-16 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="Jese Leos"> -->
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">{{userName}}</a>
                            <!-- <p class="text-base text-gray-500 dark:text-gray-400">Graphic Designer, educator & CEO Flowbite</p> -->
                            <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">{{dateJalali }}</time></p>
                        </div>
                    </div>
                </address>



                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">{{postForm.title}}</h1>
            </header>
            
             
            <div [innerHTML]=" postForm.description">  </div>
            
            <div class="flex">
                <div *ngFor="let labels of postForm.labels"   class="py-2 px-1 ">
                  <button type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">{{labels.labelName}}</button>
                </div>
              </div>


        </article>


        <aside class=" lg:w-1/4 " aria-labelledby="sidebar-label">
            <div class="P_HSe8VFU4IhDA4oLZY6 qxjgoXRF_qQQkfzkfzVx xbEqutMnv8CGHz3KuLJW">
                <h3 id="sidebar-label" class="BWabIWdbZ5qWNbPXxuBc">Sidebar</h3>
                <div class="_BTfre_DcBxkj7buMlKq">
                    <h4 class="rD4HtsUG_hahmbh2Kj09 MxG1ClE4KPrIvlL5_Q5x _WfIfkoGCi0vvUrnNs4M g3OYBOqwXUEW4dRGogkH a0Ed69aMSu0vgf4oysz0 EwTRjGOFYqbTj4bWVQmN">Flowbite News morning headlines</h4>
                    <p class="_9OKVeTXzfSwD_NYO6_G MxG1ClE4KPrIvlL5_Q5x K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">Get all the stories you need-to-know from the most powerful name in news delivered first thing every morning to your inbox</p>
                    <button type="button" data-modal-toggle="newsletter-modal" class="wP9HMsqy6b96l2HBRbgb bg-primary-700 hover:bg-primary-800 _FONMPVaCsLFJJGDaaIL focus:ring-primary-300 _A6LflweZRUwrcL6M2Tk _Qk4_E9_iLqcHsRZZ4ge MxG1ClE4KPrIvlL5_Q5x bFARDnno0HUtfhktTXfR _gKcj49wZgnwx1LpcJi6 _gmxfZ2BpOHxa6nWwqBB rD4HtsUG_hahmbh2Kj09 dark:bg-primary-600 dark:hover:bg-primary-700 qHIOIw8TObHgD3VvKa5x dark:focus:ring-primary-800 _F_1gdhzusC6tSOWHtx_ jCISvWkW5oStPH6Wrb_H"> </button> 
                </div>

            </div>
        </aside>
    </div>
  </main>
  
